In [1]:
import pandas as pd
import numpy as np

In [2]:
df_movies_metadata = pd.read_csv('movies_metadata.csv')

/usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(df_movies_metadata.columns)

Index([u'adult', u'belongs_to_collection', u'budget', u'genres', u'homepage',
       u'id', u'imdb_id', u'original_language', u'original_title', u'overview',
       u'popularity', u'poster_path', u'production_companies',
       u'production_countries', u'release_date', u'revenue', u'runtime',
       u'spoken_languages', u'status', u'tagline', u'title', u'video',
       u'vote_average', u'vote_count'],
      dtype='object')

In [4]:
df_movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [5]:
df_movies_metadata.shape

(45466, 24)

In [6]:
df_movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [7]:
# Remove features that are not useful
df_movies_metadata = df_movies_metadata.drop(['imdb_id'], axis=1)

In [8]:
df_movies_metadata[df_movies_metadata['original_title'] != df_movies_metadata['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

In [9]:
df_movies_metadata = df_movies_metadata.drop('original_title', axis=1)

In [10]:
df_movies_metadata['revenue'] = df_movies_metadata['revenue'].replace(0, np.nan)

In [11]:
df_movies_metadata['budget'] = pd.to_numeric(df_movies_metadata['budget'], errors='coerce')
df_movies_metadata['budget'] = df_movies_metadata['budget'].replace(0, np.nan)
df_movies_metadata[df_movies_metadata['budget'].isnull()].shape

(36576, 22)

In [12]:
# Drop Adult movies
df_movies_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [13]:
df_movies_metadata = df_movies_metadata.drop('adult', axis=1)

In [14]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df_movies_metadata['poster_path'] = base_poster_url + df_movies_metadata['poster_path']

In [15]:
# create the year feature
df_movies_metadata['year'] = pd.to_datetime(df_movies_metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [16]:
# create the return feature
df_movies_metadata['return'] = df_movies_metadata['revenue'] / df_movies_metadata['budget']
df_movies_metadata[df_movies_metadata['return'].isnull()].shape
# Let's explore our dataset again
df_movies_metadata.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,http://image.tmdb.org/t/p/w185//rhIRbceoE9lR4v...,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,1995,12.451801
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,A family wedding reignites the ancient feud be...,11.7129,http://image.tmdb.org/t/p/w185//6ksm1sjKMFLbO7...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,1995,NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,http://image.tmdb.org/t/p/w185//16XOMpEaLWkrcP...,[{'name': 'Twentieth Century Fox Film Corporat...,...,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,Just when George Banks has recovered from his ...,8.38752,http://image.tmdb.org/t/p/w185//e64sOI48hQXyru...,"[{'name': 'Sandollar Productions', 'id': 5842}...",...,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,1995,NaN

In [49]:
# Filter only on Science Fiction and Fantasy
df_movies_sff = df_movies_metadata[df_movies_metadata['genres'].str.contains("Science Fiction|Fantasy")]
df_movies_sff.shape

(4844, 23)

In [50]:
# Let's explore our dataset again
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,108,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164

In [51]:
# Sub-genre List
# - alien (Alien)
# - monster (Monster)
# - space (Space Opera)
# - robot (AI/Robot)
# - time_travel (Time Travel)
# - super (Superheroes)
# - dystopian (Dystopian)
# - fantasy (Fantasy)
# - techno (Technology Thriller)
# Approach: Create new column called sub_genres
# if overview column contains word, append that word + '/' to the cell in sub_genres

# Create new column called sub_genres
df_movies_sff['sub_genres'] = ''

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
def search(df, *words):  #1
    """
    Return a sub-DataFrame of those rows whose Name column match all the words.
    """
    return df[np.logical_or.reduce([df.select_dtypes(include=[object]).stack().\
                                    str.contains(word, case=False, na=False).unstack().any(1) for word in words])]   # 2

In [53]:
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035,
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN,
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589,
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390,
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164,

In [54]:
search(df_movies_sff, 'saucer', 'alien', 'life', 'human', 'extraterrestrial', 'ufo', 'parasite'\
                        'meteorite', 'meteor').index

Int64Index([   23,    43,    59,    75,   155,   157,   169,   193,   198,
              224,
            ...
            45191, 45203, 45337, 45346, 45353, 45356, 45375, 45429, 45444,
            45445],
           dtype='int64', length=1505)

In [55]:
df_movies_sff.loc[search(df_movies_sff, 'saucer', 'alien', 'life', 'human', 'extraterrestrial', 'ufo', 'parasite'\
                        'meteorite', 'meteor').index, 'sub_genres'] = 'alien/'

In [56]:
df_movies_sff.loc[search(df_movies_sff, 'luke', 'star', 'spaceship', 'battle', 'interstellar', 'planet', 'enterprise', 'skywalker', 'darth', 'droid'\
                        'earth', 'spock', 'kirk', 'space', 'capt', 'moon', 'spacecraft', 'crew', 'comet', 'mars').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'space/'

In [57]:
df_movies_sff.loc[search(df_movies_sff, 'cop', 'ai', 'cyborg', 'terminator', 'army', 'android', 'weapon', 'robot', 'intelligence', 'machine').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'robot/'

In [58]:
df_movies_sff.loc[search(df_movies_sff, 'travel', 'time', 'back', 'frozen').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'time_travel/'

In [59]:
df_movies_sff.loc[search(df_movies_sff, 'marvel', 'superman', 'superpower', 'super').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'super/'

In [60]:
df_movies_sff.loc[search(df_movies_sff, 'virus', 'future', 'nuclear', 'city', 'epidemic', 'prison', 'dark', 'murder', 'evil', 'violence', 'experiment'\
                        'totalitarian', 'society', 'post-apocalyptic', 'dystopian', 'experiments').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'dystopian/'

In [61]:
df_movies_sff.loc[df_movies_sff['genres'].str.contains("Fantasy", case='False', na=False), 'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'fantasy/'

In [62]:
df_movies_sff.loc[search(df_movies_sff, 'frankenstein', 'vampire', 'werewolf', 'shark', 'spider', 'zombie', 'blob', 'creature', 'troll', 'gypsy', 'ape'\
                        'dinosaur', 'jurrasic', 'scientist', 'swamp', 'dinosaurs', 'monster', 'octopus', 'godzilla').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'monster/'

In [63]:
df_movies_sff.loc[search(df_movies_sff, 'computer', 'cyber', 'matrix', 'chip', 'network', 'serum', 'data', 'virtual', 'reality', 'laser', 'video', 'game'\
                        'player', 'tech').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'techno/'

In [64]:
df_movies_sff['sub_genres'].value_counts()

robot/fantasy/                                                   242
fantasy/                                                         220
robot/time_travel/fantasy/                                       147
robot/                                                           132
                                                                 114
time_travel/fantasy/                                             105
robot/time_travel/dystopian/fantasy/                              91
robot/dystopian/                                                  90
robot/dystopian/fantasy/                                          85
space/robot/fantasy/                                              84
robot/time_travel/                                                81
space/robot/                                                      73
alien/space/robot/                                                72
alien/robot/fantasy/                                              71
dystopian/fantasy/                                                68
robot/time_travel/dystopian/                                      66
alien/robot/                                                      65
space/robot/time_travel/                                          64
dystopian/                                                        59
space/robot/time_travel/dystopian/fantasy/                        58
space/robot/time_travel/fantasy/                                  56
space/                                                            52
space/robot/dystopian/                                            50
alien/robot/time_travel/fantasy/                                  48
alien/space/robot/time_travel/                                    48
robot/monster/                                                    46
alien/                                                            46
alien/fantasy/                                                    46
alien/robot/dystopian/                                            43
alien/space/robot/dystopian/                                      40
                                                                ...
super/fantasy/techno/                                              1
time_travel/monster/techno/                                        1
alien/space/super/dystopian/fantasy/                               1
alien/space/robot/super/dystopian/techno/                          1
space/robot/super/techno/                                          1
alien/time_travel/fantasy/monster/techno/                          1
space/robot/time_travel/super/dystopian/techno/                    1
robot/super/techno/                                                1
alien/space/dystopian/monster/techno/                              1
alien/space/time_travel/super/fantasy/monster/                     1
alien/space/robot/fantasy/techno/                                  1
robot/time_travel/super/monster/                                   1
alien/robot/super/fantasy/techno/                                  1
robot/super/fantasy/techno/                                        1
space/super/dystopian/fantasy/                                     1
alien/super/dystopian/monster/techno/                              1
space/time_travel/super/monster/                                   1
space/robot/time_travel/fantasy/monster/techno/                    1
space/robot/super/fantasy/monster/                                 1
time_travel/dystopian/fantasy/monster/techno/                      1
space/robot/time_travel/super/monster/                             1
space/time_travel/dystopian/techno/                                1
alien/space/robot/super/monster/techno/                            1
space/monster/techno/                                              1
alien/space/time_travel/super/dystopian/monster/                   1
space/time_travel/dystopian/fantasy/monster/techno/                1
alien/space/time_travel/dystopian/fantasy/monster/                 1
space/time_travel/super/dystopian/                                 1
alien/space/super/techno/                                          1
alien/space/robot/time_travel/super/dystopian/fantasy/techno/      1
Name: sub_genres, dtype: int64

In [65]:
# number of empty sub_genres remaining
(df_movies_sff['sub_genres'].values == '').sum()

114

In [66]:
# we still need to do some work here... label the rest of the movies with sub_genres
df_movies_sff.loc[df_movies_sff['sub_genres'].values=='']

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
3086,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",NaN,16241,en,Nazi hunter Ezra Lieberman discovers a siniste...,5.9233,http://image.tmdb.org/t/p/w185//9fwAXB7cal1K0L...,"[{'name': 'Producers Circle', 'id': 734}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,If they survive...will we?,The Boys from Brazil,False,6.6,102,1978,NaN,
3610,NaN,5500000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,12611,en,A government agent is determined to come to hi...,11.844,http://image.tmdb.org/t/p/w185//u23CCG87bWtpnP...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An experience in terror and suspense.,The Fury,False,6.2,73,1978,4.363636,
3861,NaN,82000000,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,8452,en,Futuristic action about a man who meets a clon...,8.41311,http://image.tmdb.org/t/p/w185//6pBUekwhnjW99V...,"[{'name': 'Phoenix Pictures', 'id': 11317}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Are You Who You Think You Are,The 6th Day,False,5.7,603,2000,1.171774,
4285,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,42780,en,"""Genius"" accidentally invents ""goo"" which caus...",0.6148,http://image.tmdb.org/t/p/w185//b77SRC0CMatdNN...,"[{'name': 'Joseph E. Levine Productions', 'id'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All the kids grow 10 feet tall... and TAKE OVER!,Village of the Giants,False,3.3,9,1965,NaN,
4805,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,33356,en,The exploration of the effects of an unexpecte...,0.866004,http://image.tmdb.org/t/p/w185//pJ5ftKZSO7by9G...,"[{'name': 'British Film Institute (BFI)', 'id'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Falls,False,8.0,9,1980,NaN,
4814,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,42218,en,Sleazy scam artist Joan Collins tries to sell ...,3.24403,http://image.tmdb.org/t/p/w185//4ABMqLqGhu3ZXq...,"[{'name': 'Cinema 77', 'id': 1819}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's no picnic!,Empire of the Ants,False,4.6,26,1977,NaN,
4836,NaN,750000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,31682,en,When exposure to a combination of radiation an...,4.91023,http://image.tmdb.org/t/p/w185//pBBgIy2ncPgX5l...,[{'name': 'Universal International Pictures (U...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A fascinating adventure into the unknown!,The Incredible Shrinking Man,False,7.3,91,1957,NaN,
4856,NaN,4500000,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,27150,en,A Texas sheriff tries kung fu on an ax killer ...,1.80861,http://image.tmdb.org/t/p/w185//AaUhLHvpyqrUVb...,"[{'name': 'Columbia Pictures Corporation', 'id...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,He's an indestructible man fused with powers b...,Silent Rage,False,5.0,22,1982,2.333333,
4939,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,41870,en,"Set in empty junkyards of Winnipeg, Sabu works...",0.142296,http://image.tmdb.org/t/p/w185//ojfIXzEHNwjYEW...,[],...,[],Released,NaN,Hey Happy,False,3.4,4,2001,NaN,
5692,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,18993,en,"During the US Civil War, Union POWs escape in ...",3.41931,http://image.tmdb.org/t/p/w185//gTHr5r7Ei5EZJj...,"[{'name': 'Ameran Films', 'id': 8488}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A world beyond imagination! Adventure beyond b...,Mysterious Island,False,6.2,38,1961,NaN,
5961,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,27380,en,Megaforce is an elite multi-national military ...,1.35214,http://image.tmdb.org/t/p/w185//zpXDYcSR4y06fk...,"[{'name': 'Golden Harvest Company', 'id': 2521...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Deeds not Words,Megaforce,False,3.5,15,1982,NaN,
6758,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,44591,en,Giant scorpions wreck havoc after being releas...,0.748812,http://image.tmdb.org/t/p/w185//dLqaQkI0EH4b8Z...,"[{'name': 'Amex Productions', 'id': 14233}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every horror you've seen on the screen grows p...,The Black Scorpion,False,5.1,9,1957,NaN,
7208,NaN,20000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.eternalsunshine.com,38,en,"Joel Barish, heartbroken that his girlfriend u...",12.9063,http://image.tmdb.org/t/p/w185//7y3eYvTsGjxPYD...,"[{'name': 'Anonymous Content', 'id': 10039}, {...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You can erase someone from your mind. Getting ...,Eternal Sunshine of the Spotless Mind,False,7.9,3758,2004,3.612906,
7250,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,68347,en,"A growth hormone experiment gets out of hand, ...",1.15988,http://image.tmdb.org/t/p/w185//gVYpeXiLlRdx5h...,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's their party... you can die if you want to.,Food of the Gods II,False,5.8,8,1989,NaN,
7460,NaN,7500000,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",http://www.miramax.com/cypher/,10133,en,"An unsuspecting, disenchanted man finds himsel...",7.34897,http://image.tmdb.org/t/p/w185//qzLRviv0UUCbmb...,"[{'name': 'Miramax Films', 'id': 14}, {'name':...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never forget who you are,Cypher,False,6.7,196,2002,NaN,
7631,NaN,950000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,29146,en,An experiment on a simpleton turns him into a ...,2.52616,http://image.tmdb.org/t/p/w185//4FVbPUkLohHAlM...,"[{'name': 'ABC Pictures', 'id': 634}, {'name':...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A love story that begins with an incredible ex...,Charly,False,6.6,28,1968,0.857543,
8073,NaN,7500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,2577,en,"A futuristic 'Brief Encounter', a love story i...",6.1014,http://image.tmdb.org/t/p/w185//lOEo7iG0FV6mxp...,"[{'name': 'BBC Films', 'id': 288}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How do you solve a crime when the last thing y...,Code 46,False,6.2,116,2003,NaN,
8187,NaN,7000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.primermovie.com,14337,en,Friends/fledgling entrepreneurs invent a devic...,7.15307,http://image.tmdb.org/t/p/w185//pYiAYDn3ltw9Fq...,"[{'name': 'Thinkfilm', 'id': 446}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happens if it actually works?,Primer,False,6.9,671,2004,60.680000,
8212,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,11099,en,"Set in a world with memory implants, Robin Wil...",10.6068,http://image.tmdb.org/t/p/w185//8YPAz6LdWatGQW...,"[{'name': 'Lions Gate Films', 'id': 35}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the end, he sees everything.",The Final Cut,False,5.9,194,2004,NaN,
8295,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,2972,de,"In the 16th century, the Jews of Prague face p...",1.52413,http://image.tmdb.org/t/p/w185//gzXqhVnd3Rfroa...,"[{'name': 'Projektions A-G Union (PAGU)', 'id'...",...,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,The 1920 Horror Masterpiece,The Golem: How He Came Into the World,False,7.0,29,1920,NaN,
8687,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,121923,en,A mysterious man John Kane (Sidney Poitier) wh...,0.9413,http://image.tmdb.org/t/p/w185//om5Efy8bxPdQHk...,"[{'name': 'Columbia Pictures Corporation', 'id...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Brother John just blew into town...and the tow...,Brother John,False,6.2,5,1971,NaN,
8865,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,41243,en,With the help of student assistant Boris and s...,3.65014,http://image.tmdb.org/t/p/w185//yVpp427Ui7h6dP...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,"It's potentially dangerous, probably illegal a...",Creator,False,6.2,18,1985,NaN,
9409,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,15990,en,The Cathedral (Polish: Katedra) is a 2002 shor...,0.903483,http://image.tmdb.org/t/p/w185//ticcTG4vVpuTWJ...,[],...,[],Released,NaN,The Cathedral,False,7.4,16,2002,NaN,
9421,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,100594,fi,NaN,0.203204,http://image.tmdb.org/t/p/w185//juhxfyFyQ7MXFL...,[],...,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,The Book of Fate,False,3.5,2,2003,NaN,
10531,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,38761,en,Giant mutant rabbits terrorize the southwest!!,1.17981,http://image.tmdb.org/t/p/w185//4ldYhM4swXlzBn...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How many eyes does horror have?,Night of the Lepus,False,4.9,25,1972,NaN,
11324,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 27, '...",NaN,3593,en,Four explorers are summoned to Peru by the bri...,0.662919,http://image.tmdb.org/t/p/w185//5bUdwNdumc2cPz...,"[{'name': 'Paramount Pictures', 'id': 4}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dr. Cyclops,False,6.1,15,1940,NaN,
11584,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,3024,en,No overview found.,0.424452,http://image.tmdb.org/t/p/w185//8byiRQ9kv2TUGn...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Strange Case of Dr. Jekyll and Mr. Hyde,False,0.0,0,1968,NaN,
12297,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45871,cn,"Triad boss Lung (Eddy Ko), who has just escape...",1.53192,http://image.tmdb.org/t/p/w185//zmMjY2I8Aj8TG1...,"[{'name': 'Milky Way Image Company', 'id': 5632}]",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,The Mission,False,6.7,24,1999,NaN,
12364,NaN,50000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,13059,en,"A horror film told in three parts, from three ...",11.3297,http://image.tmdb.org/t/p/w185//OdJHcbCRcL03HK...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This is not a test.,The Signal,False,5.9,85,2007,4.998100,
13024,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,2397,en,No overview found.,1.68743,http://image.tmdb.org/t/p/w185//zU9hKyOjiR8NUp...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Fallout,False,0.0,0,1998,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36384,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,4289,en,After an African dinosaur ancestor of the croc...,4.638634,http://image.tmdb.org/t/p/w185//vvEfmC5Q8AOY1N...,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It feeds on fear.,Dinocroc,False,4.0,12,2004,NaN,
36413,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,27941,en,NaN,0.681163,http://image.tmdb.org/t/p/w185//bNgNvo7m7fikFq...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Lockjaw: Rise of the Kulev Serpent,False,2.3,3,2008,NaN,
37145,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,185354,pl,"Film opens on December 18, 1999, just a few da...",0.242601,http://image.tmdb.org/t/p/w185//Dp4UIdT6V2egFX...,"[{'name': 'Zespol Filmowy', 'id': 46567}]",...,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,The War of the Worlds: Next Century,False,6.5,4,1981,NaN,
39197,NaN,2004384,"[{'id': 878, 'name': 'Science Fiction'}]",http://brandnew-u.com/,343724,en,Identicals is a highly unconventional romantic...,1.090345,http://image.tmdb.org/t/p/w185//rtiKN28y3J1NVE...,"[{'name': 'Hot Property Films', 'id': 4304}, {...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None of us are as unique as we hope,Identicals,False,4.1,13,2015,NaN,
39235,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,89662,en,A stone-encrusted body is unearthed at Pompeii...,0.259001,http://image.tmdb.org/t/p/w185//spOquowSZMTt1J...,"[{'name': 'Robert E. Kent Productions', 'id': ...",...,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,Entombed for eons - turned to stone - seeking ...,Curse of the Faceless Man,False,5.3,6,1958,NaN,
39602,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,257006,it,An oceanographer diving in the Bermuda Triangl...,0.000132,http://image.tmdb.org/t/p/w185//g9OkqOC7aTuOXD...,[],...,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Encounters in the Deep,False,0.0,0,1979,NaN,
41334,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,387801,es,"Hypnotic, perturbing, and utterly enthralling,...",1.414419,http://image.tmdb.org/t/p/w185//bpTNGIJkdYL8IJ...,[],...,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Untamed,False,5.9,14,2016,NaN,
42059,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",NaN,345925,en,A single mom tries to break free from a myster...,4.970237,http://image.tmdb.org/t/p/w185//ykqywWckRwyn7w...,"[{'name': 'Splendid Film', 'id': 8146}, {'name...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Rupture,False,5.5,53,2016,NaN,
42428,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,437122,en,Sci-fi end of the world drama,0.048262,http://image.tmdb.org/t/p/w185//7FHxlNOKHmtZwp...,[],...,[],Released,Unplanned Unwanted,Third Guest,False,0.0,0,2016,NaN,
42509,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,416688,en,A family of three young sisters live out their...,0.805734,http://image.tmdb.org/t/p/w185//p3zcRov2GIDwL3...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Tribe,False,5.3,3,2016,NaN,
42595,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,438597,ru,"Igor Grom, a skilled detective from St. Peters...",0.874297,http://image.tmdb.org/t/p/w185//5gLABGKMMaUbod...,"[{'name': 'BUBBLE Studios', 'id': 86050}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Major Grom,False,6.6,14,2017,NaN,
42998,NaN,12,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,25610,en,The small town of Haven becomes a hot-bed of i...,9.156782,http://image.tmdb.org/t/p/w185//7r9Ym2elnrDg4I...,"[{'name': 'Konigsberg/Sanitsky Company', 'id':...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,You can't run. You can't hide. You can only be...,The Tommyknockers,False,5.1,65,1993,NaN,
43060,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://bokehthemovie.com,286538,en,"On a romantic getaway to Iceland, a young Amer...",6.165126,http://image.tmdb.org/t/p/w185//cedeEgSeKpsFZH...,"[{'name': 'Vintage Pictures', 'id': 35561}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bokeh,False,5.1,62,2017,NaN,
43079,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,447758,en,"It's 2067, the UK is vegan, but older generati...",1.336149,http://image.tmdb.org/t/p/w185//8RQM8S8UJmVITc...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Carnage: Swallowing the Past,False,8.3,3,2017,NaN,
43226,NaN,NaN,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",NaN,381449,de,15 years ago the sea at the coast of Windholm ...,0.452123,http://image.tmdb.org/t/p/w185//hPFwDTjlyHNot1...,"[{'name': 'Rundfunk Berlin-Brandenburg (RBB)',...",...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,We are the tide,False,5.0,1,2016,NaN,
43353,NaN,2800000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://phoenixforgotten.com/,443319,en,20 years after three teenagers disappeared in ...,12.560942,http://image.tmdb.org/t/p/w185//8GJ9a0FgkCKIqK...,"[{'name': 'Scott Free Productions', 'id': 1645...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on Shocking Untold True Events,Phoenix Forgotten,False,5.7,52,2017,1.285714,
43439,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,425487,sv,Three students at a Swedish university make a ...,0.106215,http://image.tmdb.org/t/p/w185//cYYfFIjWTWBNHI...,[],...,[],Released,NaN,Origin,False,6.0,1,2016,NaN,
43480,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,236053,tr,NaN,0.219218,http://image.tmdb.org/t/p/w185//30Lw7lbSXwm9NU...,[],...,"[{'iso_639_1': 'tr', 'name': 'Türkçe'}]",Released,NaN,Japon İşi,False,6.3,2,1987,NaN,
43665,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,256608,pl,Young couple living in the old house suddenly ...,0.094228,http://image.tmdb.org/t/p/w185//6p2pvaO2hrvx8o...,"[{'name': 'Studio Filmowe Zebra', 'id': 58225}...",...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Embassy,False,4.5,2,2013,NaN,
43904,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.thelastmanonearthmovie.com/,328212,en,The Last Man On Earth is about two teenagers e...,0.330445,http://image.tmdb.org/t/p/w185//AaOXG4XqmIkjpV...,"[{'name': 'Visionary Films', 'id': 47783}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Alone. Together.,The Last Man on Earth,False,7.0,1,2014,NaN,
43963,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,362844,en,NaN,0.002603,http://image.tmdb.org/t/p/w185//pe2FQ7L96zkBaL...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Survivor,False,0.0,0,1999,NaN,
44094,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,73144,en,A woman wakes up in a room with no memory of w...,3.444679,http://image.tmdb.org/t/p/w185//e8bRqOm0mjP2WQ...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Portal: No Escape,False,7.0,38,2011,NaN,
44103,NaN,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 10749, '...",NaN,63838,ru,NaN,0.414793,http://image.tmdb.org/t/p/w185//be78nAT5VLN2ET...,"[{'name': 'Kinokompaniya CTB', 'id': 886}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Mechenosets,False,5.6,7,2006,0.783946,
44173,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,107170,en,Ghost Recon: Alpha sees a team led by Ghost Le...,3.036216,http://image.tmdb.org/t/p/w185//jfzhuHGAC9IM8Y...,"[{'name': 'Ubisoft', 'id': 4615}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Ghost Recon: Alpha,False,7.5,43,2012,NaN,
44251,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,162042,en,"Dimwitted, meaty guy foils criminals by turnin...",0.038963,http://image.tmdb.org/t/p/w185//v72XVa62vnXyac...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An unforgettable excursion into adventure.,Riding with Death,False,2.4,5,1976,NaN,
44271,NaN,6000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 10749,...",NaN,316154,en,"In a desert wasteland in Texas, a muscled cann...",78.8072,http://image.tmdb.org/t/p/w185//7o14VaMphEIzPw...,"[{'name': 'Annapurna Pictures', 'id': 13184}, ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Bad Batch,False,5.3,160,2017,NaN,
44301,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341689,en,"A couple of British 1970s teen-aged boys, Enn ...",2.068008,http://image.tmdb.org/t/p/w185//tyCt5dQ2yhfEtW...,"[{'name': 'HanWay Films', 'id': 2395}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some girls are out of this world.,How to Talk to Girls at Parties,False,0.0,10,2017,NaN,
44344,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",https://www.ismovies.net/movie/the-gracefield-...,327253,en,"On August 16, 2013, the Supreme Court mandated...",4.184306,http://image.tmdb.org/t/p/w185//lWZsV3dJfpWlEQ...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,The Gracefield Incident,False,4.7,26,2017,NaN,

In [ ]:
df_movies_sff.to_csv('movies_metadata_scififantasy.csv',sep=',')